[submodule "Piscine"]
	path = Piscine
	url = git@github.com:Kai-Doh/Piscine.git
	branch = main
[submodule "Libft"]
	path = Libft
	url = git@github.com:Kai-Doh/Libft.git
	branch = main
[submodule "C-Piscine-Reloaded"]
	path = C-Piscine-Reloaded
	url = git@github.com:Kai-Doh/C-Piscine-Reloaded.git
	branch = main
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:Kai-Doh/ft_printf.git
	branch = main
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:Kai-Doh/get_next_line.git
	branch = main
[submodule "Push_swap"]
	path = Push_swap
	url = git@github.com:Kai-Doh/Push_swap.git
	branch = main
[submodule "So_long"]
	path = So_long
	url = git@github.com:Kai-Doh/So_long.git
	branch = main
