[submodule "cpp06"]
	path = cpp06
	url = https://github.com/Kai-Doh/cpp06.git
[submodule "cpp07"]
	path = cpp07
	url = https://github.com/Kai-Doh/cpp07.git
[submodule "cpp08"]
	path = cpp08
	url = https://github.com/Kai-Doh/cpp08.git
